<div class="flex justify-center mb-[100px]">
  <div class="container w-8/12">
    <div class="flex flex-col items-center gap-4">
      <div>
        <% if @group.image.attached? %>
          <%= image_tag(@group.image, class: 'rounded-full h-[200px] w-[200px] m-4 object-cover border border-gray', alt: 'Изображение группы') %>
        <% else %>
          <%= vite_image_tag 'images/default_group.jpg',
            alt: "Изображение группы",
            class: "h-[200px] w-[200px] rounded-full h-100 w-100 m-4 border object-cover border-gray" %>
        <% end %>
      </div>
      <div class="font-semibold text-3xl text-gray-800">
        <%= @group.name %>
      </div>
      <div class="w-7/12 text-center text-gray-700">
        <%= @group.description %>
      </div>
      <%= render 'groups/show/tokens' %>
      <div class="flex flex-col gap-3 mt-10 w-full">
        <div class="text-xl font-medium mb-2 flex items-center">
          <%= link_to @group.name, group_path(@group), class: 'text-yellow-500 hover:text-yellow-600', data: { turbo: false } %>
          <span class="material-icons text-gray-700">arrow_right_alt</span>
          <span class="text-gray-700">Вопросы и ответы</span>
        </div>
        <div class="flex gap-3 flex-wrap">
          <% @group.questions.order(:created_at).limit(4).each do |question| %>
            <div class="flex flex-col w-full">
              <div class="text-xl">
                <%= link_to question.title, group_question_path(group_id: @group.id, id: question.id ), class: 'text-gray-700 hover:text-yellow-600', data: { turbo: false } %>
              </div>
              <div class="flex justify-between">
                <div class="text-sm">
                  <% if question.answers.blank? %>
                    Нет ответов
                  <% else %>
                    <%= t('answers', count: question.answers.count) %>
                  <% end %>
                </div>
                <div>
                  <span class="text-gray-700">Задал</span>
                   <span class="text-sm text-yellow-500 hover:text-yellow-600"><%= question.author.short_name %> </span>
                  <span class="text-gray-700"><%= I18n.l(question.created_at, format: :custom)%></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
