<div class="w-full flex justify-center mt-10">
  <%= render 'groups/show/document_modal' %>
  <div class="container">
    <div class="flex flex-col items-center gap-6">
      <div>
        <% if @group.image.attached? %>
          <%= image_tag(@group.image, class: 'rounded-full h-[200px] w-[200px] m-4 object-cover border border-gray', alt: 'Изображение группы') %>
        <% else %>
          <%= vite_image_tag 'images/default_group.jpg', 
            alt: "Изображение группы", 
            class: "h-[200px] w-[200px] rounded-full h-100 w-100 m-4 border object-cover border-gray" %>
        <% end %>
      </div>
      <div class="font-semibold text-3xl">
        <%= @group.name %>
      </div>
      <div class="w-7/12 text-center">
        <%= @group.description %>
      </div>
      <%= render 'groups/show/tokens' %>
      <%= render 'groups/show/users' %>
      <%= render 'groups/show/documents' %>
    </div>
  </div>
</div>
