<section class="bg-blueGray-50">
  <div class="w-full xl:w-5/12 2xl:w-4/12 lg:w-6/12 md:w-8/12 px-4 mx-auto">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16  border border-yellow-300">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="w-full px-4 flex justify-center">
            <div class="relative">
              <% if @user.avatar.attached? %>
                <%= image_tag(@user.avatar, class: 'rounded-full -mt-8 w-[230px] h-[230px] object-cover', alt: 'Аватарка') %>
              <% else %>
                <%= vite_image_tag default_avatar_name(@user), alt: "Аватарка", class: "rounded-full -mt-8 w-[230px] h-[230px] border border-yellow-300 object-cover" %>
              <% end %>
            </div>
          </div>
          <div class="w-full px-4 text-center mt-20">
            <div class="flex justify-center py-4 lg:pt-4 pt-8">
              <div class="mr-4 p-3 text-center w-[200px]">
                <span class="text-xl font-bold block uppercase tracking-wide text-gray-700">
                  <%= @user.groups.count %>
                </span>
                <span class="text-sm text-gray-600"> <%= t('groups', count: @user.groups.count) %></span>
              </div>
              <div class="mr-4 p-3 text-center w-[200px]">
                <span class="text-xl font-bold block uppercase tracking-wide text-gray-700">
                  <%= @user.questions.count %>
                </span>
                <span class="text-sm text-gray-600"><%= t('questions', count: @user.questions.count) %></span>
              </div>
              <div class="lg:mr-4 p-3 text-center w-[200px]">
                <span class="text-xl font-bold block uppercase tracking-wide text-gray-700">
                  <%= @user.messages.count %>
                </span>
                  <span class="text-sm text-gray-600"><%= t('messages', count: @user.messages.count) %></span>
                </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-12 pb-[50px]">
          <h3 class="text-2xl font-semibold leading-normal mb-2 text-gray-700 mb-2">
            <%= @user.short_name %>
          </h3>
          <div class="text-gray-700">
            <%= @user.email %>
          </div>
          <div class="text-sm leading-normal mt-0 mb-2 text-gray-700 font-bold uppercase">
            <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-700"></i>
            <%=[ @user.country, @user.city].select(&:present?).join(', ') %>
          </div>
          <div class="mb-2 text-blueGray-600 mt-10">
            <i class="fas fa-briefcase mr-2 text-lg text-gray-700"></i>
            <%= @user.profession %>
          </div>
          <div class="mb-2 text-blueGray-600">
            <i class="fas fa-university mr-2 text-lg text-gray-700"></i>
            <%= @user.institution %>
          </div>
          <% if current_user == @user %>
            <div class="pt-10">
              <%= link_to t('links.edit_profile'), edit_user_path(@user), data: { turbo: false }, class: 'cursor-pointer text-white bg-yellow-500 
            hover:bg-yellow-600 focus:ring-4 focus:outline-none 
            focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
