<!DOCTYPE html>
<html>
<head>
  <title>StudyBuddy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!--    <script src="https://cdn.tailwindcss.com"></script>-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>


<div class="flex flex-row">
  <div>
    <%= render 'layouts/header' %>
  </div>

  <main class="flex-1 ml-64 p-4 bg-gray-100">
    <%= yield %>
  </main>
  

</div>
</body>
</html>
